* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  letter-spacing: 0.06rem;
  line-height: 115%;
}

body {
  background: darkgray;
}

main {
  width: 90vw;
  margin: 25px auto;
  height: 80vh;
}
.main__container {
  height: 100%;
  width: 100%;
}
.input__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
  height: 200px;
  justify-content: flex-start;
  align-items: center;
  input {
    width: 350px;
  }
}
.left-side {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.output__container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 50%;
  height: 200px;
  justify-content: flex-start;
  align-items: center;
}
.output-text {
  border: 1px black solid;
  padding: 2px 5px;
  border-radius: 10px;
  width: 350px;
}
.button-accept {
  background: inherit;
  color: blue;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.button-accept:hover {
  background: red;
}
